categorie;vraag;bijlage;antwoord;gedaan
0;Wat is het antwoord? \n A: a? \n B: b? \n C: c? \n D: d?;;ABCD;
1;Wat is het nummer?;.\whilhelmus.wav;het whilhelmus;
2;Wat is het plaatje?;.\plaatje.png;afbeelding;
3;Wat is dit;;Een antwoord;
